{% extends "home/adminlayout.html" %}
{% block content %}
                    <div class="table-responsive-md  table-responsive-sm ml-3 ">
 
                        <table class="table table-bordered table-hover table-bordered table-striped">
   
                            <thead class="thead bg-light">
   
                               <tr>
   

                                   <th>Customers</th>
   
                                   <th>Car</th>
   
                                   <th>No. of Cars</th>
   
                                   <th>Color</th>
                                   
                                   <th>NPR. per Car</th>
   
                                  
   
                               </tr>
   
                            </thead>
                            {% for booking in bookings %}
 
                            <tr class="tbody">
 
                                    <td>{{booking.customer}}</td>
                                    <td>{{booking.product_name}}</td>
                                    <td>{{booking.quantity}}</td>
                                    <td>{{booking.color}}</td>
                                    <td>{{booking.price}}</td>
                                
 
                                 <td>
 
                                     |
 
                                     <a href="/user/delete/{{customer.customer_id}}" style="color:red"><i class="fa fa-trash-o ml-2 fa-lg"></i></a>
 
                                 </td>
 
                               
 
                            </tr>
 
                         {% endfor %}
 
                     </table>
 
{% endblock %}